@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-family: var(--fira);
}

.no-scrollbar::-webkit-scrollbar {
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  cursor: grab;
}

body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}
